# Ujian Modul 2 - Purwadhika Data Science JC Program

## Context - Taken from Kaggle
Did you know that claims can be filed against TSA? Sometimes US Terminal Security Agency (TSA) makes mistakes. People can get hurt and property can be damaged, lost, or stolen. Claims are generally filed against TSA for personal injuries and lost or damaged property during screenings and they keep records of every claim!

### Content
The dataset includes claims filed between 2002 through 2015.

1. Claim Number
1. Date Received
1. Incident Date
1. Airport Code
1. Airport Name
1. Airline Name
1. Claim Type
1. Claim Site
1. Item
1. Claim Amount
1. Status
1. Close Amount
1. Disposition

This data is coming from the Kaggle Dataset that contain the data of clain the been filed into the TSA. We would try to explore the data and clean the data partially (we would not clean and analyze everything as it would take more time than necessary) and we would only use 25% data from the original dataset.

This exam scoring would be explained below:

- This Notebook would have total score of 80 (+ 10 Bonus POINT for Bonus Question), which consist of:
    - 40 POINT for the Question part (10 point for each question)
    - 40 POINT for the preprocessing part by following the guide
- The Dashboard would yield 20 POINT
- The Maximum Score would be still 100, Bonus Question is just a Bonus. Work it if you have an extra time and already sure about all your other answer (or not sure about the other question, and need this bonus question to help)

When you finish, upload your notebook contain all the answers and the script for the dashboard to your github. You do not need to upload the .csv file.

Try to read the data and show all the important info first. For starter, try to understand what each column represent.

In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [64]:
soal = pd.read_csv('tsa_claims_ujian.csv')

In [59]:
soal.dtypes

Claim Number            object
Date Received           object
Incident Date           object
Airport Code            object
Airport Name            object
Airline Name            object
Claim Type              object
Claim Site              object
Item                    object
Claim Amount            object
Status                  object
Close Amount           float64
Disposition             object
Incident Date Error     object
dtype: object

In [22]:
soal[:5]

,Claim Number,Date Received,Incident Date,Airport Code,Airport Name,Airline Name,Claim Type,Claim Site,Item,Claim Amount,Status,Close Amount,Disposition
0,0909816M,7-Feb-02,1/6/2003 0:00,MIA,Miami International Airport,American Airlines,Property Damage,Checkpoint,Luggage (all types including footlockers),$50.00,Approved,$50.00,Approve in Full
1,14268,20-Jun-02,6/16/2002 0:00,PHX,Phoenix Sky Harbor International,NaN,Property Damage,Checkpoint,Computer - Laptop,$2;270.09,Canceled,NaN,NaN
2,15242,12-Jul-02,5/31/2002 0:00,BWI,Baltimore/Washington Intl Thurgood Marshall,American Airlines,NaN,Other,Luggage (all types including footlockers),$200.00,Denied,$0.00,Deny
3,16759,21-Aug-02,7/12/2002 0:00,BWI,Baltimore/Washington Intl Thurgood Marshall,Southwest Airlines,Passenger Property Loss,Checkpoint,Other,$21.44,Approved,$21.00,Approve in Full
4,17846,9-Sep-02,8/30/2002 0:00,BOS,Boston (Logan) International Airport,NaN,Property Damage,Checkpoint,Luggage (all types including footlockers),$1;832.22,Canceled,$0.00,NaN

In [23]:
soal[51061:]

,Claim Number,Date Received,Incident Date,Airport Code,Airport Name,Airline Name,Claim Type,Claim Site,Item,Claim Amount,Status,Close Amount,Disposition
51061,2015110926685,22-Oct-15,19-Oct-15,-,-,-,Property Damage,Checked Baggage,Baggage/Cases/Purses,-,-,NaN,NaN
51062,2015110226479,2-Nov-15,2-Nov-15,-,-,-,Passenger Property Loss,Checkpoint,Books; Magazines & Other,-,-,NaN,NaN
51063,2015120727336,16-Nov-15,14-Sep-15,-,-,American Airlines,Passenger Property Loss,Checked Baggage,Cosmetics & Grooming,-,-,NaN,NaN
51064,2015120427297,20-Nov-15,16-Oct-15,-,-,-,Property Damage,Checked Baggage,Baggage/Cases/Purses; Books; Magazines & Other...,-,-,NaN,NaN
51065,2016010428072,22-Dec-15,20-Dec-15,-,-,-,Passenger Property Loss,Checked Baggage,Clothing,-,-,NaN,NaN

In [24]:
soal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51066 entries, 0 to 51065
Data columns (total 13 columns):
Claim Number     51066 non-null object
Date Received    50996 non-null object
Incident Date    50496 non-null object
Airport Code     49014 non-null object
Airport Name     49014 non-null object
Airline Name     42511 non-null object
Claim Type       49106 non-null object
Claim Site       50876 non-null object
Item             50054 non-null object
Claim Amount     50074 non-null object
Status           51065 non-null object
Close Amount     33786 non-null object
Disposition      32846 non-null object
dtypes: object(13)
memory usage: 5.1+ MB

In [25]:
soal.describe()

,Claim Number,Date Received,Incident Date,Airport Code,Airport Name,Airline Name,Claim Type,Claim Site,Item,Claim Amount,Status,Close Amount,Disposition
count,51066,50996,50496,49014,49014,42511,49106,50876,50054,50074,51065,33786,32846
unique,51065,3522,10788,405,419,243,8,6,1854,13248,13,6009,3
top,2013121110011,27-May-04,12/22/2004 0:00,LAX,John F. Kennedy International,American Airlines,Passenger Property Loss,Checked Baggage,Other,$0.00,Denied,$0.00,Deny
freq,2,182,43,2379,2286,4377,29713,39937,9183,7065,17134,17907,17147

In [26]:
soalDesc = []
for i in soal.columns:
    soalDesc.append([i, 
                      soal[i].dtypes, 
                      soal[i].isna().sum(), 
                      round((((soal[i].isna().sum())/(len(soal)))*100),2), 
                      soal[i].nunique(),
                      soal[i].drop_duplicates().sample(2).values])
    
pd.DataFrame(soalDesc, columns = ['dataFeatures', 'dataType', 'null', 'nullPct', 'unique', 'uniqueSample'])

,dataFeatures,dataType,null,nullPct,unique,uniqueSample
0,Claim Number,object,0,0.00,51065,"[0729154M, 2011111588971]"
1,Date Received,object,70,0.14,3522,"[22-Jan-07, 31-Jan-03]"
2,Incident Date,object,570,1.12,10788,"[4/23/2003 0:00, 7/11/2011 0:00]"
3,Airport Code,object,2052,4.02,405,"[ROW, LWS]"
4,Airport Name,object,2052,4.02,419,"[Navy Yuma Landing, Clinton County Airport]"
5,Airline Name,object,8555,16.75,243,"[Austrian Airlines, CanJet]"
6,Claim Type,object,1960,3.84,8,"[nan, Personal Injury]"
7,Claim Site,object,190,0.37,6,"[nan, Checked Baggage]"
8,Item,object,1012,1.98,1854,[Baggage/Cases/Purses; Clothing; Cosmetics & G...
9,Claim Amount,object,992,1.94,13248,"[$282.96 , $240.71 ]"
10,Status,object,1,0.00,13,"[nan, Denied]"
11,Close Amount,object,17280,33.84,6009,"[$60.12 , $515.68 ]"
12,Disposition,object,18220,35.68,3,"[nan, Approve in Full]"

If you notice, there is '-' value that become a filler for an empty value. Replace all these '-' in every column into NaN object (np.nan)

In [27]:
soal = soal.replace('-', np.nan)
soal

,Claim Number,Date Received,Incident Date,Airport Code,Airport Name,Airline Name,Claim Type,Claim Site,Item,Claim Amount,Status,Close Amount,Disposition
0,0909816M,7-Feb-02,1/6/2003 0:00,MIA,Miami International Airport,American Airlines,Property Damage,Checkpoint,Luggage (all types including footlockers),$50.00,Approved,$50.00,Approve in Full
1,14268,20-Jun-02,6/16/2002 0:00,PHX,Phoenix Sky Harbor International,NaN,Property Damage,Checkpoint,Computer - Laptop,$2;270.09,Canceled,NaN,NaN
2,15242,12-Jul-02,5/31/2002 0:00,BWI,Baltimore/Washington Intl Thurgood Marshall,American Airlines,NaN,Other,Luggage (all types including footlockers),$200.00,Denied,$0.00,Deny
3,16759,21-Aug-02,7/12/2002 0:00,BWI,Baltimore/Washington Intl Thurgood Marshall,Southwest Airlines,Passenger Property Loss,Checkpoint,Other,$21.44,Approved,$21.00,Approve in Full
4,17846,9-Sep-02,8/30/2002 0:00,BOS,Boston (Logan) International Airport,NaN,Property Damage,Checkpoint,Luggage (all types including footlockers),$1;832.22,Canceled,$0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51061,2015110926685,22-Oct-15,19-Oct-15,NaN,NaN,NaN,Property Damage,Checked Baggage,Baggage/Cases/Purses,NaN,NaN,NaN,NaN
51062,2015110226479,2-Nov-15,2-Nov-15,NaN,NaN,NaN,Passenger Property Loss,Checkpoint,Books; Magazines & Other,NaN,NaN,NaN,NaN
51063,2015120727336,16-Nov-15,14-Sep-15,NaN,NaN,American Airlines,Passenger Property Loss,Checked Baggage,Cosmetics & Grooming,NaN,NaN,NaN,NaN
51064,2015120427297,20-Nov-15,16-Oct-15,NaN,NaN,NaN,Property Damage,Checked Baggage,Baggage/Cases/Purses; Books; Magazines & Other...,NaN,NaN,NaN,NaN
51065,2016010428072,22-Dec-15,20-Dec-15,NaN,NaN,NaN,Passenger Property Loss,Checked Baggage,Clothing,NaN,NaN,NaN,NaN

Try to convert the Date Received and Incident Date data type into Datetime object. For the Incident Date columns, if you directly try to convert the column into datetime object it would raise an error notice. In that case, try to show the dataframe with the Incident Date column contain all the error.

In [28]:
# date received
soal['Date Received'] = pd.to_datetime(soal['Date Received'])

In [29]:
df = pd.DataFrame(data=soal, columns=['Date Received'])
soal['Date Received'] = df['Date Received'].dt.strftime('%y-%m-%d')
soal

,Claim Number,Date Received,Incident Date,Airport Code,Airport Name,Airline Name,Claim Type,Claim Site,Item,Claim Amount,Status,Close Amount,Disposition
0,0909816M,02-02-07,1/6/2003 0:00,MIA,Miami International Airport,American Airlines,Property Damage,Checkpoint,Luggage (all types including footlockers),$50.00,Approved,$50.00,Approve in Full
1,14268,02-06-20,6/16/2002 0:00,PHX,Phoenix Sky Harbor International,NaN,Property Damage,Checkpoint,Computer - Laptop,$2;270.09,Canceled,NaN,NaN
2,15242,02-07-12,5/31/2002 0:00,BWI,Baltimore/Washington Intl Thurgood Marshall,American Airlines,NaN,Other,Luggage (all types including footlockers),$200.00,Denied,$0.00,Deny
3,16759,02-08-21,7/12/2002 0:00,BWI,Baltimore/Washington Intl Thurgood Marshall,Southwest Airlines,Passenger Property Loss,Checkpoint,Other,$21.44,Approved,$21.00,Approve in Full
4,17846,02-09-09,8/30/2002 0:00,BOS,Boston (Logan) International Airport,NaN,Property Damage,Checkpoint,Luggage (all types including footlockers),$1;832.22,Canceled,$0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51061,2015110926685,15-10-22,19-Oct-15,NaN,NaN,NaN,Property Damage,Checked Baggage,Baggage/Cases/Purses,NaN,NaN,NaN,NaN
51062,2015110226479,15-11-02,2-Nov-15,NaN,NaN,NaN,Passenger Property Loss,Checkpoint,Books; Magazines & Other,NaN,NaN,NaN,NaN
51063,2015120727336,15-11-16,14-Sep-15,NaN,NaN,American Airlines,Passenger Property Loss,Checked Baggage,Cosmetics & Grooming,NaN,NaN,NaN,NaN
51064,2015120427297,15-11-20,16-Oct-15,NaN,NaN,NaN,Property Damage,Checked Baggage,Baggage/Cases/Purses; Books; Magazines & Other...,NaN,NaN,NaN,NaN
51065,2016010428072,15-12-22,20-Dec-15,NaN,NaN,NaN,Passenger Property Loss,Checked Baggage,Clothing,NaN,NaN,NaN,NaN

In [31]:
def convert_date(id):
    try:
        return pd.to_datetime(id, errors='raise')
    except:
        return 'Error'

soal['Incident Date Error'] = soal['Incident Date'].apply(convert_date)

In [32]:
soal[soal['Incident Date Error']=='Error']

,Claim Number,Date Received,Incident Date,Airport Code,Airport Name,Airline Name,Claim Type,Claim Site,Item,Claim Amount,Status,Close Amount,Disposition,Incident Date Error
13729,2005021676300,05-01-24,17-MAY-0200 00:00,JFK,John F. Kennedy International,NaN,Passenger Property Loss,Checkpoint,Other,$15.00,Approved,$15.00,Approve in Full,Error
14323,2005031778682,05-02-23,17-FEB-0205 00:00,MSY,New Orleans International,UAL,Passenger Property Loss,Checked Baggage,Computer - Laptop,$2;463.00,Denied,NaN,Deny,Error
14856,2005033180821,05-03-23,07-MAR-0005 00:00,CVG,Cincinnati/Northern Kentucky International,Delta Air Lines,Passenger Property Loss,Checked Baggage,Cameras - Digital,$430.98,Approved,$430.98,Approve in Full,Error
14976,2005040181143,05-03-29,04-MAR-0205 00:00,MSP,Minneapolis/ St.Paul International Airport,Northwest Airlines,Passenger Property Loss,Checked Baggage,Jewelry - Fine,$151.00,Insufficient; one of the following items requi...,NaN,NaN,Error
14995,2005040581540,05-03-30,18-MAR-0200 00:00,MAF,Midland International Airport,Continental Express Inc,Passenger Property Loss,Checked Baggage,Locks,$10.60,Approved,$10.60,Approve in Full,Error
15278,2005041282328,05-04-12,12-MAR-0205 00:00,MSP,Minneapolis/ St.Paul International Airport,Northwest Airlines,Property Damage,Checked Baggage,Clothing - Shoes; belts; accessories; etc.,$710.00,Denied,$0.00,Deny,Error
15934,2005051985030,05-05-17,01-MAY-0205 00:00,NaN,NaN,NaN,Passenger Property Loss,Checked Baggage,Jewelry - Fine,$197.73,Insufficient; one of the following items requi...,NaN,NaN,Error
16813,2005071188622,05-07-08,01-JUL-0200 00:00,HDN,Yampa Valley Regional,NaN,Passenger Property Loss,Checked Baggage,Clothing - Shoes; belts; accessories; etc.,$300.00,Denied,$0.00,Deny,Error
17198,2005091492472,05-08-01,01-MAY-0205 00:00,IAH,Houston - George Bush Intercontinental Airport,UAL,Passenger Property Loss,Checked Baggage,Other,$2;000.72,Denied,$0.00,Deny,Error
19151,2005121397614,05-12-08,20-NOV-0205 00:00,LNK,Lincoln Municipal,Northwest Airlines,Passenger Property Loss,Checked Baggage,Locks,$15.00,Approved,$15.00,Approve in Full,Error
21528,2006060207211,06-05-30,26-MAY-0200 00:00,JFK,John F. Kennedy International,Air France,Passenger Property Loss,Checked Baggage,Cosmetics - Perfume; toilet articles; medicine...,$821.56,Settled,$261.72,Settle,Error
22161,2006072610104,06-07-14,25-OCT-0200 00:00,MEM,Memphis International Airport,Northwest Airlines,Passenger Property Loss,Checked Baggage,Cell Phones,$35.00,Denied,$0.00,Deny,Error
23232,2006101213887,06-10-11,27-SEP-0206 00:00,JFK,John F. Kennedy International,Continental Airlines,Passenger Property Loss,Checkpoint,Other,$25.49,Approved,$25.49,Approve in Full,Error
24355,2007010418246,07-01-03,03-NOV-0206 00:00,OMA,Eppley Airfield,Skywest Airlines Inc USA,Passenger Property Loss,Checked Baggage,Jewelry - Costume,$135.00,Denied,$0.00,Deny,Error
24525,2007011718892,07-01-10,12-AUG-0201 00:00,JFK,John F. Kennedy International,Jet Blue,Passenger Property Loss,Checked Baggage,Video Recordings (blank & commercial),$317.64,Settled,$158.82,Settle,Error
24768,2007013119947,07-01-26,19-DEC-0206 00:00,PHX,Phoenix Sky Harbor International,Northwest Airlines,Property Damage,Checked Baggage,Other,$90.00,Denied,$0.00,Deny,Error
24903,2007020620372,07-02-05,13-JAN-0207 00:00,JFK,John F. Kennedy International,Jet Blue,Passenger Property Loss,Checked Baggage,Computer - Laptop,$1;503.35,Settled,$208.47,Settle,Error
25249,2007031222075,07-03-06,18-FEB-0207 00:00,SEA,Seattle-Tacoma International,Delta Air Lines,Passenger Property Loss,Checked Baggage,Clothing - Shoes; belts; accessories; etc.; Other,$190.00,Denied,$0.00,Deny,Error
25705,2007041323942,07-04-10,07-APR-0200 00:00,IAD,Washington Dulles International,UAL,Passenger Property Loss,Checked Baggage,Cameras - Digital; Other,$470.06,Settled,$198.09,Settle,Error
25734,2007041323952,07-04-12,29-JAN-0200 00:00,SAN,San Diego International,Southwest Airlines,Passenger Property Loss,Checked Baggage,MP3 Players-(iPods; etc),$250.00,Denied,$0.00,Deny,Error
26129,2007051825607,07-05-16,06-MAR-0207 00:00,BPT,Southeast Texas Regional,Continental Airlines,Passenger Property Loss,Checked Baggage,Cameras - Digital; Cameras - Non-electronic (C...,$1;400.25,Denied,$0.00,Deny,Error
26530,2007062127333,07-06-19,20-MAY-0207 00:00,FLL,Ft. Lauderdale-Hollywood International,Delta Air Lines,Passenger Property Loss,Checked Baggage,Cosmetics - Perfume; toilet articles; medicine...,$10.00,Approved,$10.00,Approve in Full,Error
27086,2007073129436,07-07-31,13-JUL-0207 00:00,IND,Indianapolis International,Northwest Airlines,Property Damage,Checked Baggage,Baskets - Wicker or plastic,$15.00,Denied,$0.00,Deny,Error
27481,2007083131244,07-08-28,09-JUL-0200 00:00,MSP,Minneapolis/ St.Paul International Airport,Northwest Airlines,Property Damage,Checked Baggage,Luggage (all types including footlockers),$185.00,Settled,$50.00,Settle,Error
27628,2007091431890,07-09-10,02-MAR-0208 00:00,MDW,Midway International Airport,Southwest Airlines,Property Damage,Checked Baggage,Clothing - Shoes; belts; accessories; etc.; Pa...,$250.00,Denied,$0.00,Deny,Error
27819,2007092732635,07-09-24,17-SEP-0007 00:00,DTW,Detroit Metropolitan Wayne County Airport,Northwest Airlines,Passenger Property Loss,Checked Baggage,Currency,$420.00,Denied,$0.00,Deny,Error
27901,2007100533098,07-10-02,22-MAY-0200 00:00,RSW,Southwest Florida International,Delta Air Lines,Passenger Property Loss,Checked Baggage,Currency,$100.00,Denied,$0.00,Deny,Error
28031,2007101733560,07-10-12,28-SEP-0207 00:00,ATL,Hartsfield-Jackson Atlanta International Airport,Delta Air Lines,Passenger Property Loss,Checked Baggage,Cosmetics - Perfume; toilet articles; medicine...,$109.99,Denied,$0.00,Deny,Error
28037,2007101833587,07-10-12,04-SEP-0207 00:00,MIA,Miami International Airport,American Airlines,Passenger Property Loss,Checked Baggage,Other,$69.95,Denied,$0.00,Deny,Error
29065,2008011437819,08-01-07,30-NOV-0002 00:00,RAP,Rapid City Regional,Northwest Airlines,Passenger Property Loss,Checked Baggage,Clothing - Shoes; belts; accessories; etc.; Lu...,$200.00,Denied,$0.00,Deny,Error
29652,2008022840321,08-02-22,08-FEB-0208 00:00,AVL,Asheville Regional Airport,Delta Air Lines,Property Damage,Checked Baggage,Mirrors (including frames),$21.93,Denied,$0.00,Deny,Error
31140,2008062646202,08-06-23,29-JAN-0208 00:00,MIA,Miami International Airport,American Airlines,Property Damage,Checked Baggage,Locks,$5.98,Denied,$0.00,Deny,Error
31570,2008080548050,08-07-31,30-JUL-0208 00:00,HOU,William P. Hobby,Continental Airlines,Passenger Property Loss,Checked Baggage,Locks,$16.00,Denied,$0.00,Deny,Error
31590,2008081148331,08-08-01,13-JUL-0200 00:00,ATL,Hartsfield-Jackson Atlanta International Airport,Delta Air Lines,Passenger Property Loss,Checked Baggage,Cosmetics - Perfume; toilet articles; medicine...,$40.00,Denied,$0.00,Deny,Error
31771,2008081948782,08-08-19,23-JUL-0208 00:00,FLL,Ft. Lauderdale-Hollywood International,Jet Blue,Passenger Property Loss,Checked Baggage,Computer - Laptop; GPS - Global Positioning Sy...,$3;379.00,Denied,$0.00,Deny,Error
33613,2009032056617,09-03-04,18-JAN-0200 00:00,FLL,Ft. Lauderdale-Hollywood International,American Airlines,Property Damage,Checkpoint,Eyeglasses - (including contact lenses),$469.00,Denied,$0.00,Deny,Error

In [45]:
def ganti(col):
    if col['Incident Date Error'] == 'Error':
        s = col['Incident Date']
        baru = ''.join((s[:7],str(col['Date Received'].year),s[11:]))
        return baru
    else:
        return col['Incident Date']

soal['Incident Date'] = soal[['Incident Date Error','Incident Date', 'Date Received']].apply(ganti,axis=1)

AttributeError: ("'str' object has no attribute 'year'", 'occurred at index 13729')

In [ ]:
soal['Incident Date'] = soal['Incident Date'].apply(lambda x: pd.to_datetime(x))

For the data in the Incident Date column that contain error, replace the year with the year that come from the Date Received column and replace the Incident Date data type into datetime object

Check the data info and the dataframe that previously contain the error in their data to see if the data have been properly corrected.

Create a new feature of the day differences between claim received and the day of the incident called Day Differences, which contain the days that come from the Date Received column substracted by the Incident Date column (Date Received - Incident Date). We have this feature to see the time differences between when the claim made with the incident that happen.

Lets try to visualize the distribution of the Day Differences with all the NaN just to be dropped first

If we seen it from the plot, it seems there is days that less than 0 and even over than 1000. Lets try to visualize them both

## Question

Why do you think there is day that way more than thousand days differences, and why some day differences are less than 0? (claim was made before the incident is like someone predicting a future after all).

Remove the $ sign (some data need even more clean up by replacing the ; sign into . sign) from the Claim Amount columns and Close Amount columns, and change those columns datatype into float datatype

In [58]:
soal['Claim Amount'] = soal['Claim Amount'].astype(str)

In [60]:
soal['Claim Amount']

0        nan
1        nan
2        nan
3        nan
4        nan
        ...
51061    nan
51062    nan
51063    nan
51064    nan
51065    nan
Name: Claim Amount, Length: 51066, dtype: object

In [61]:
soal['Close Amount'] = soal['Close Amount'].map(lambda x: x.lstrip('$'))

AttributeError: 'float' object has no attribute 'lstrip'

In [50]:
soal['Claim Amount'] = soal['Claim Amount'].str.replace(';','.',' ','')

AttributeError: Can only use .str accessor with string values!

In [51]:
soal['Close Amount'] = soal['Close Amount'].str.replace(';','.',' ','')

AttributeError: Can only use .str accessor with string values!

Create a new columns called Amount Differences by substract the Claim Amount with Close Amount columns

In [49]:
soal['Claim Amount']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
51061   NaN
51062   NaN
51063   NaN
51064   NaN
51065   NaN
Name: Claim Amount, Length: 51066, dtype: float64

In [62]:
soal['Claim Amount'].describe()

count     51066
unique        1
top         nan
freq      51066
Name: Claim Amount, dtype: object

In [56]:
soal['Close Amount'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Close Amount, dtype: float64

Lets try to visualize it again similar to the Day Differences feature, but this time we would use the Amount Differences feature (still just drop the NaN first)

There is seems a differences in number that was way far. This time, lets use the Interquartile range (IQR) method to find the datapoint that seems to be an outlier based on the Amount Differences column, show the dataframe, and lets describe the Claim Amount and Close Amount column of the outlier dataframe based on the Amount Differences column

It seems that Claim Amount feature really affecting lot of the differences that happen as 75% outlier data that in the Close Amount feature is still 0.

## Question

I assume that many of this big differences happen because these people tend to request for bigger money than what it should be. Do you agree or disagree with my assumption (With an assumption that not outlier is have normal amount differences and outlier have a really big amount differences)? why? Try to explain it with the data

## Analysis

We have try to cleaning some of the data that we have, and now we could try to done few analysis from the data we had. Try to answer this following question.

### Question

1. Is there Any relationship between the Airport and/or the Airline with the number of the claim that happen and the Claim Type? Also why is there a NaN in the Claim Type column?

1. If you realize, there is many different classes in the Status and Disposition column. What pattern you could find in these 2 columns because of this classes variation? is there any relation with the other columns?

## Bonus Question

Could you find any interesting Insight from our data that you could explain? Try to explain it with the available data

To create our dashboard, lets use only the data that was not outlier according to the Amount Differences. As we did not process all the NaN, just drop all those NaN. Save the file as 'tsa_claims_dashboard_ujian.csv', don't include the Index. As we don't want to have too much data in our dashboard, let's just sample 1000 data from our current data.

Also, set the random seed to 101.

In [15]:
np.random.seed(101)

Export the data to your SQL database, and try to connect the database to the dashboard